---
layout: default
title: Portfólio de Lucca Augusto
---

<a href="#" class="neutro" onclick="mudaVisu()">
<span class="font15" id="muda">
	Mudar visualização
</span>
</a>
<div id="grid" style="display:none">
	<div class="linha">
	{% for img in site.data.portfolio %}
		{% assign titulo = img.nome | split: '.' %}
		{% assign mod = forloop.index0 | modulo: 5 %}
		{% if mod == 0 %}
			</div>
			<div class="linha">
		{% endif %}
		{% if titulo[1] == 'mp4' %}
			<div class="container-img">
				<video  class="imagem" controls preload="auto">
					<source src="{{ img.link }}" type="video/mp4">
				</video>
			</div>
		{% else %}
		<div class="container-img">
			<a href="{{ img.link }}" target="blank"><img src="{{ img.link }}" alt="{{ img.nome }}" class="imagem"/></a>
		</div>
		{% endif %}
	{% endfor %}
	</div>
</div>
<div id="lista">
	{% for img in site.data.portfolio %}
		{% assign titulo = img.nome | split: '.' %}
		{% if titulo[1] == 'mp4' %}
			<div class="item">
				<video  class="imagem-lista" controls preload="auto">
					<source src="{{ img.link }}" type="video/mp4">
				</video>
			</div>
		{% else %}
			<div class="item">
				<a href="{{ img.link }}" target="blank"><img src="{{ img.link }}" alt="{{ img.nome }}" class="imagem-lista"/></a>
			</div>
		{% endif %}
	{% endfor %}
</div>
