body{
	background-color: #000;
	color: #fff;
	font-family: monospace;
	cursor: url('/assets/FinnSword.cur'), auto;
}
ul{
	list-style-type: square;
}
.current {
	color: #ff6bc9 !important;
	font-weight: bold;
}
.geral{
	width: 100%;
	height: 100%;
	display: flex;
}
.menu-button{
	display: none;
}
.assinatura{
	width: 180px;
	max-width: 180px;
}
.thumbnail{
	width: 100px;
}
.sidebar{
	margin: 10pt;
	margin-left: 30pt;
	width: 20%;
}
.footer{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.desktop-footer{
	display: flex;
}
.mobile-footer{
	display: none;
}
.footnote{
	position: relative;
	bottom:0;
	left:50%
}
.conteudo{
	width: 100%;
	margin-left: 30pt;
}
.contact{
	margin: 20%;
}
.desc{
	width: 31%;
	text-align: left;
	position: relative;
	bottom: 75%
}
.bio{
	display: flow-root;
	margin: 2rem 5rem 0 1rem;
}
.bio-paragraph{
	width: 100%;
	text-align: justify;
}
.bio-img{
	width: 50%;
	max-width: 300px;
	float: right;
	margin: 20pt;
}
.font15{
	font-size: 15pt;
}
.font20{
	font-size: 20pt;
}
.menuzinho{
	line-height: 30pt;
}
.imagem{
	width: 100%;
	display: table-cell;
}
.imagem-lista{
	max-height: 100%;
	max-width: 100%;
}
.neutro{
	text-decoration: none;
	color: #78acff;
}
.neutro:hover {
	color: #bbb;
}
.icone{
	max-width: 30px;
}
.linha{
	width: 100%;
	display: inline-flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.website-embed{
	text-align: center;
	width: 46%;
	margin: 5pt;
}
.website-embed > iframe {
	width: 100%;
	height: 450pt;
	border: 10px solid #ffbffb;
	border-radius: 5px;
}
.masonry {
	-webkit-column-count: 4;
	-moz-column-count:4;
	column-count: 4;
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	column-gap: 1em;
	margin: 1.5em;
	padding: 0;
	-moz-column-gap: 1.5em;
	-webkit-column-gap: 1.5em;
	column-gap: 1.5em;
	font-size: .85em;
}
.item {
	display: inline-block;
	background: #ffbffb;
	padding: 6px;
	margin: 0 0 1.5em;
	width: 100%;
	border-radius: 5px;
	-webkit-transition:1s ease all;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.item img{max-width:100%;}

@media only screen and (max-width: 320px) {
	.masonry {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

@media only screen and (min-width: 321px) and (max-width: 768px){
	.masonry {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
	.masonry {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}
@media only screen and (min-width: 1201px) {
	.masonry {
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}
}



/* Responsivo */
@media only screen and (max-width: 808px) {
	.bio{
		margin: 2rem 0 0 1rem;
		display: contents;
	}
	.bio-paragraph{
		width: 100%;
	}
	.bio-img{
		float: right;
	}
	.geral{
		flex-direction: column;
	}
	.item{
		height: unset;
	}
	.sidebar{
		display: flex;
		width: 100%;
		flex-direction: column;
		margin: 10pt;
		justify-content: space-between;
	}
	.menuzinho {
		text-align: right;
		margin: 0 2rem 0 0;
	}
	.menu-button{
		display: block;
		height: 50pt;
		position: absolute;
		right: 1rem;
	}
	.menu-container-closed{
		height: 0;
	}
	.menu-container-open{
		height: 25rem;
	}
	#menu-container{
		transition: height 0.5s ease-out;
		overflow: hidden;
	}
	.conteudo{
		margin: 0;
	}
	.assinatura{
		display: block;
		width: 90px;
	}
	.contact{
		margin: 0;
	}
	.desc{
		width: unset;
		font-size: unset !important;
	}
	.website-embed{
		width: 75%;
	}
	.footer{
		position: relative;
		bottom: 0;
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		flex-direction: initial;
	}
	.mobile-footer{
		display: flex;
	}
	.desktop-footer{
		display: none;
	}
	.footnote{
		left: 36%;
	}
}
