<!doctype html>
<html>
  <head>
	  {% include head.html %}
  </head>
  <body>
	<div class="geral">
		<div class="sidebar">
			<img class="assinatura-d" src="/images/icone-LA-folhas.png"/>
            {% include navigation.html %}
			<p class="font12">
                © 2023 Lucca Augusto.</br>
                All rights reserved.
            </p>
		</div>
		<div class="conteudo">
			<img class="assinatura-m" src="/images/icone-LA-folhas.png"/>
    		{{ content }}
		</div>
	</div>
  </body>
</html>
